[flake8]
max-line-length = 79
exclude = moneytracker/migrations/*, env/*
ignore = E203, W503
import-order-style = pep8
# E203: whitespace before ':' | not pep8 compatible
# W503: line break before binary operator | not pep8 compatible