Django==4.2
pyyaml
python-decouple
psycopg2-binary==2.9.7
gunicorn==21.2.
certifi
pre-commit
flake8
flake8-docstrings
flake8-import-order
Historic-Crypto
pandas
# testing
pytest
pytest-cov
pytest-django
django-livereload-server