{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block meta_description %}
    My Money Up
{% endblock %}

{% block main %}

    <section class="main-section__container">
        <div class="main-section__image">
            <img class="main-section__img" src="https://res.cloudinary.com/duckwaaai/image/upload/f_auto,q_auto/v1/MyMoneyUP/x7p3io7tsyrtiji4cfvp" alt="contact form image">
        </div>
        <div class="main-section__form">
            <form class="main-form" action="#">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="example@email.com" required>
                <textarea type="text" name="message" placeholder="Message..." required cols="30" rows="10"></textarea>
                <button type="submit">SEND</button>
            </form>
        </div>
    </section>

{% endblock %}



