{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block meta_description %}
    My Money Up
{% endblock %}

{% block main %}

    <section class="main-container">
        <section class="banner" id="banner">
            <img src="" alt="">
        </section>
        <section class="subscribe-form__container">
            <h3 class="subscribe-form__title" id="titleTracker1">Track your favorites currencies.</h3>
            <h3 class="subscribe-form__title" id="titleTracker2">Choose the currencies you want to track:</h3>
            
            <form action="{% url 'moneytracker:home' %}" method="post" class="subscribe-form" id="subscribeForm">
                {% csrf_token %}
                <!-- Email input inicialmente mostrado -->
                <div id="emailSelection" class="subscribe-form__email-selection">
                    <input type="email" name="email" placeholder="example@mail.com" class="subscribe-form__input" id="emailInput" required>
                    <button type="button" id="emailBtn" class="subscribe-form__btn">SUBSCRIBE</button>
                </div>
            
                <!-- Currency selection, inicialmente oculto -->
                <div id="currencySelection" class="subscribe-form__currency-selection">
                    <!-- Input for Search -->
                    <div class="input-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#737373" viewBox="0 0 50 50">
                            <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                        </svg>
                        <input type="text" id="searchInput" placeholder="Search for a specific currency">
                    </div>
    
                    <div class="currency-list">
                        {% for asset in assets %}
                        <div class="currency-item">
                            <input type="checkbox" id="currency_{{ asset.id }}" name="assets" value="{{ asset.id }}" class="hidden-checkbox">
                            <label for="currency_{{ asset.id }}" class="custom-checkbox">
                                <!-- SVG NOT CHECK -->
                                <svg class="unchecked" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 9V15M15 12H9M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#A3A3A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                    
                                <!-- SVG CHECKED! -->
                                <svg class="checked" width="24" height="24" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 10C0.25 4.61522 4.61522 0.25 10 0.25C15.3848 0.25 19.75 4.61522 19.75 10C19.75 15.3848 15.3848 19.75 10 19.75C4.61522 19.75 0.25 15.3848 0.25 10ZM13.6103 8.18593C13.8511 7.84887 13.773 7.38046 13.4359 7.1397C13.0989 6.89894 12.6305 6.97701 12.3897 7.31407L9.1543 11.8436L7.53033 10.2197C7.23744 9.92678 6.76256 9.92678 6.46967 10.2197C6.17678 10.5126 6.17678 10.9874 6.46967 11.2803L8.71967 13.5303C8.87556 13.6862 9.09215 13.7656 9.31186 13.7474C9.53157 13.7293 9.73216 13.6153 9.8603 13.4359L13.6103 8.18593Z" fill="#75AAFF"/>
                                </svg>
                                {{ asset.name }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="show-more">
                        <button type="button" class="subscribe-form__btn__more" id="loadMoreButton">Load More</button>
                    </div>
                    <button type="submit" class="subscribe-form__btn" id="submitBtn">Select 1 Currency</button>
                </div>
            </form>
        </section>
    </section>
{% endblock %}