{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block meta_description %}
    My Money Up
{% endblock %}

{% block main %}
    <section class="banner">
        <img src="" alt="">
    </section>
    <section class="main-section">
        <h3 class="main-section__title">Track your favorites currencies.</h3>
        <form action="{% url 'moneytracker:home' %}" method="post" class="main-form">
            {% csrf_token %}
            <input type="email" name="email" placeholder="example@mail.com" class="main-form__input" required>
            <label for="assets">Select assets:</label>
            <select name="assets" id="assets" multiple required>
                {% for asset in assets %}
                    <option value="{{ asset.id }}">{{ asset.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="main-form__btn">SUBSCRIBE</button>
        </form>
    </section>
{% endblock %}