/* Basic styles for css editing */
:root {
    --primary-color: #aaaaaa;
    --secondary-color: #939393;
    --light: #fafafa;
    --dark: #151515;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}