{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta tags for mobile apps (important for show content in mobile devices) -->
    {% comment %} <meta name="mobile-web-app-capable" content="yes"> {% endcomment %}

    <!-- Meta tags for SEO and social sharing -->
    <meta name="description" content="{% block meta_description %}My Money Up is a financial currencies service for inform prices to users{% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}bitcoin, ethereum, usd, prices{% endblock %}">

    <meta name="author" content="Money Up Team"/>

    <meta name="copyright" content="My Money Up 2024" />

    <!-- Meta tags extra -->
    {% block meta_extra %}{% endblock meta_extra %}

    <title>
        {% block title %}{% endblock title %} | My Money Up
    </title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="shortcut icon" href="https://giraprepa.s3.amazonaws.com/logo.ico" type="image/x-icon">

    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% if not hide_header %}
        {% include "components/navbar.html" %}
    {% endif %}

    <main>
        {% block main %}{% endblock main %}
    </main>

    {% if not hide_footer %}
        {% include "components/footer.html" %}
    {% endif %}
    
    <!-- Scripts -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Additional Scripts -->
    {% block scripts %}{% endblock scripts %}

</body>
</html>
