<header class="header_navbar" id="header_navbar">
    <nav class="navbar">
        <div class="navbar-logo">
            <a class="navbar-logo-container" href="/"  aria-label="Inicio GIRA UNI">
                <img style="width: 80px;" class="navbar-logo" src="https://res.cloudinary.com/duckwaaai/image/upload/v1703896296/MyMoneyUP/mymoneyup_svg_o3f2c9.svg" alt="">
                <h2 class="navbar-logo-title">MyMoneyUP</h2>
            </a>
        </div>
        <div class="navbar-items" id="_items">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="navbar-toggle" id="_toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>