name: CI/CD

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install pre-commit
        run: pip install pre-commit
      - name: Run pre-commit checks
        run: pre-commit run --all-files
        continue-on-error: true

  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt

    - name: Run tests
      run: pytest

  deploy_production:
    needs: [test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
    - name: Deploy to Production
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_IP }}
        port: ${{ secrets.SERVER_PORT }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          cd YourMoneyTrackerMail/

          if [ ! -d "env" ]; then
              python3 -m venv env
          fi

          # Primero hacemos pull para asegurarnos de que tenemos la última versión
          git pull

          # Usar la ruta completa para pip
          env/bin/pip install -r requirements.txt

          # collectstatic sin interacción
          env/bin/python manage.py collectstatic --noinput

          # migrate sin interacción
          env/bin/python manage.py migrate --noinput

          sudo systemctl restart yourmoneytrackermail
